# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# C++ build directories and IDE metadata
.idea/
cmake-build-debug/
cmake-build-release/
*.user

# Track prebuilt DLL for LabVIEW
!Dll/LabVIEW_TheilSen.dll
